html
	head
		title Chat room
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	body
		.container
			.row
				ul#messages
				form(action="")
					input#m(autocomplete="off" autofocus)
					button(type="submit") dic



		script(src="//cdn.socket.io/socket.io-1.2.0.js")
		script(src="//code.jquery.com/jquery-1.11.1.js")
		

		script(type="text/javascript").
			var socket = io('http://localhost/');
			//https://infinite-tundra-1079.herokuapp.com
			$('form').submit(function(){
				socket.emit('chat message', $('#m').val());
				$('#m').val('');
				return false;
			});
			socket.on('chat message', function(msg){
				$('#messages').append($('<li>').text(msg));
			});