html
	head
		title followMe
	body



		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")

		script(type="text/javascript").
			var socket = io('http://localhost/')
			loc()
			function loc(){
				navigator.geolocation.watchPosition(function(pos){
					var pos = pos.coords
					var str = pos.latitude+','+pos.longitude
					socket.emit('send loc', str)

				})
			}
			socket.on('print loc', function(data){
				var marker = 'http://maps.google.com/maps?q=loc:'+data
				console.log(marker)
			})