html(lang="es")
	head
		title followMe
	body
		h1 lo que sea
		a(href="fw") fw
		br
		br
		br
		a(href="chat") chat

		script(src="//cdn.socket.io/socket.io-1.2.0.js")
		script(src="//code.jquery.com/jquery-1.11.1.js")

		script(type="text/javascript").
			var socket = io('https://infinite-tundra-1079.herokuapp.com')
			loc()
			function loc(){
				navigator.geolocation.watchPosition(function(pos){
					var pos = pos.coords
					var user ={
						lat: pos.latitude,
						lng: pos.longitude
					}
					socket.emit('send loc', user)

				})
			}
			socket.on('print loc', function(data){
				console.log(data)
			})