html(lang="es")
	head
		title maps
		style.
			body { height: 100%; margin: 0; padding: 0; }
			html { height: 100%; margin: 0; padding: 0; }
			#pano {  height: 100% }
			
	body

		div#map
		div#pano


		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="http://code.jquery.com/jquery-1.11.1.js")
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6WtX3nH5hCa9uaFHj04e8BtGwhVCZ4lk&callback=initialize")

		script(type="text/javascript").
			var socket = io('http://localhost/')
			socket.on('print loc', function(data){
				console.log(data)
				var map = new google.maps.Map(document.getElementById('pano'), {
					center: data,
					zoom: 14
				});
				var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), {
						position: data,
						pov: {
							heading: 34,
							pitch: 10
							}
					});
				map.setStreetView(panorama);
			})
			function initialize() {
				
			}